<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to the All India Federation Of Superintendent Of Customs blog page">
    <meta name="keywords" content="aifsc,customs,cengo,indian customs, all india association of superintendent of central excise, all india federation of superintendent of customs, central excise">
    <meta name="author" content="Atul Singh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>All India Federation Of Superintendent Of Customs</title>
</head>

<body>