<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark"
  style="background-color: #1f3b4d;"
>
  <div class="container">
    <a class="navbar-brand" href="/">AIFSC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="margin-top: 0px;"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
