<%- include('partials/head.ejs') %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180351930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180351930-1');
</script>
<%- include('partials/header.ejs') %>
<div data-aos="fade-up" data-aos-duration="1000">
  <form action="/auth/login" method="POST">
    <div class="form-holder">
      <div class="form-container">
        <div class="form">
          <h2>Login</h2>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" required/>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required/>
          </div>
          <button type="submit">Submit</button> 
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="form-holder">
    <div class="form-container">
      <div class="form">
        <h2>Login</h2>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" name="email" required/>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" required/>
        </div>
        <button type="submit" onclick="handleFormSubmit()">Submit</button> 
      </div>
    </div>
  </div> -->
</div>

<!-- <div class="container text-center">
  <a href="/blog"><button>Write Post</button></a>
</div> -->

<script src="scripts/index.js"></script>

<%- include('partials/footer.ejs') %>
