<%- include('partials/head.ejs') %> <%- include('partials/header.ejs') %>

<div class="py-5 text-center">
  <h1>AIFSC STAFF</h1>
  <div class="text-center members-table-container">
    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Date of Joining</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Anil Kumar</td>
          <td>Secretary General</td>
          <td>anilmsingh4@gmail.com</td>
          <td>9791147004</td>
          <td>2/6/1994</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Anil Kumar</td>
          <td>Secretary General</td>
          <td>anilmsingh4@gmail.com</td>
          <td>9791147004</td>
          <td>2/6/1994</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Anil Kumar</td>
          <td>Secretary General</td>
          <td>anilmsingh4@gmail.com</td>
          <td>9791147004</td>
          <td>2/6/1994</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer.ejs') %>
