* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: "Rye", cursive;
  color: #333;
}

.navbar-brand {
  font-size: 1.5rem;
}

.brand-text {
  font-size: 2.5rem;
  text-align: center;
  color: #434190;
}

.location-text {
  color: #434190;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 5rem 1rem 1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.add-hr {
  margin: 2rem 0;
}

.carousel-card-holder {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: 0;
}
.form-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

.form {
  padding: 30px 40px;
}

.brand-info-text {
  font-size: 1.2rem;
  text-align: center;
  color: #f56565;
}

.form button {
  cursor: pointer;
  background-color: #8bd3dd;
  border: 2px solid #8bd3dd;
  border-radius: 4px;
  color: #001858;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #8bd3dd;
  border: 2px solid #8bd3dd;
  border-radius: 4px;
  color: black;
  outline: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.blog-card {
  min-height: 350px;
  border-radius: 20px;
  width: 31%;
  margin: 30px 15px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.blog-card button:hover {
  background-color: #38c4d6;
  border: 2px solid #8bd3dd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.warning {
  background-color: #fa5f5f;
  border: 2px solid #fa5f5f;
}

.warning:hover {
  background-color: #fa4b4b;
  border: 2px solid #fa4b4b;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
}

.blog-body p {
  font-size: 1.25rem;
  font-weight: 300;
}

.blog-container {
  margin: 0 10%;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

.aifsc-logo {
  width: 150px;
}

.aifsc-card-logo {
  width: 50px;
}

@media only screen and (max-width: 1600px) {
  .blog-card {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .blog-container {
    margin: 0 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .blog-card {
    border-radius: 20px;
    width: 80%;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .aifsc-logo {
    width: 150px;
  }
  .brand-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .brand-info-text {
    font-size: 1.2rem;
    text-align: center;
  }
  .logo-container {
    flex-direction: row !important;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  .add-hr {
    margin: 0;
  }
}

@media only screen and (max-width: 1140px) {
  .blog-container {
    margin: 0 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .blog-card {
    border-radius: 20px;
    width: 90%;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .aifsc-logo {
    width: 100px;
  }
  .brand-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .brand-info-text {
    font-size: 1.2rem;
    text-align: center;
  }
  .logo-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  .add-hr {
    margin: 0;
  }
}

.members-table-container {
  margin: 0 5%;
}
.members-table-container td {
  font-size: 1.2rem;
}
