* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #333;
}

.custom-brand {
  font-size: 1.4rem;
}

.custom-brand:hover {
  text-decoration: none;
}

.brand-text {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 900;
  color: #434190;
}

.location-text {
  color: #000;
  font-size: 0.9rem;
}

.admin-carousel-container {
  margin: auto;
  width: 80%;
}

#staff-card {
  width: 50%;
  padding: 2.5rem 1.2rem;
  margin: 0 2rem;
  border-radius: 20px;
}

#staff-card h5 {
  font-size: 1.6rem;
}

#memberTable td,
th {
  font-size: 1.2rem;
}

.jumbotron {
  padding: 5rem 1rem 1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.add-hr {
  margin: 2rem 0;
}

.blog-title-holder .blog-title {
  font-size: 1.2rem;
}

.poks-row {
  display: flex;
}

.carousel-card-holder {
  display: flex;
  justify-content: space-around;
}

.card-name {
  color: #eeb109;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: 0;
}

.nav-item {
  text-align: center;
}

nav .custom-brand {
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.card-body {
  padding: 1.25rem 0.75rem;
}

.card-designation {
  color: #f85a40;
}

.form-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

.form {
  padding: 30px 40px;
}

.brand-info-text {
  font-size: 1.3rem;
  text-align: center;
  color: #f56565;
}

.form button {
  cursor: pointer;
  background-color: #8bd3dd;
  border: 2px solid #8bd3dd;
  border-radius: 4px;
  color: #001858;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #8bd3dd;
  border: 2px solid #8bd3dd;
  border-radius: 4px;
  color: black;
  outline: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.blog-card {
  min-height: 24rem;
  border-radius: 20px;
  width: 30%;
  margin: 30px 15px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.blog-card:hover {
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.blog-card button:hover {
  background-color: #38c4d6;
  border: 2px solid #8bd3dd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.warning {
  background-color: #fa5f5f;
  border: 2px solid #fa5f5f;
}

.warning:hover {
  background-color: #fa4b4b;
  border: 2px solid #fa4b4b;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
}

.blog-body p {
  font-size: 1.25rem;
  font-weight: 300;
}

.blog-container {
  margin: 0 10%;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

#aifsc-logo {
  width: 150px;
}

.aifsc-card-logo {
  width: 70px;
}

@media only screen and (min-width: 1568px) {
  .admin-carousel-container {
    margin: auto;
    width: 80%;
  }
  #adminCarousel .carousel-card-holder .staff-card {
    width: 50%;
  }
}

@media only screen and (min-width: 1458px) {
  .blog-title-holder .blog-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .admin-carousel-container {
    margin: auto;
    width: 100%;
  }
  #aifsc-logo {
    text-align: center;
    margin: auto;
  }
  #staff-card {
    width: 100%;
    padding: 20px 5px;
    margin: 0 2rem;
    border-radius: 20px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 990px) {
  .blog-container {
    margin: 0 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .blog-title-holder .blog-title {
    font-size: 1.2rem;
  }
  .blog-card {
    min-height: 25rem;
    border-radius: 20px;
    width: 80%;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .brand-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .brand-info-text {
    font-size: 1rem;
    text-align: center;
  }
  .logo-container {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  .add-hr {
    margin: 0;
  }
  .nav-item {
    text-align: start;
  }
}

@media only screen and (max-width: 1280px) {
  .blog-container {
    margin: 0 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .blog-card {
    border-radius: 20px;
    width: 90%;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  #aifsc-logo {
    width: 100px;
  }
  .brand-text {
    font-size: 2rem;
    text-align: center;
  }
  .brand-info-text {
    font-size: 1.25rem;
    text-align: center;
  }
  .logo-container {
    margin-bottom: 1rem;
  }
  .jumbotron {
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  .add-hr {
    margin: 0;
  }
  .carousel-card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #staff-card {
    width: 80%;
    font-size: 1rem;
    margin: 1rem 0;
  }
}

.members-table-container {
  margin: 0 8%;
}
.members-table-container td {
  font-size: 0.9rem;
}
